
.slide {
  /* border: 2px solid green; */
  padding-top: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 36em;
}

@keyframes color_change {
  0% { color: rgb(0, 194, 0); }
  35% { color: blue; }
  70% { color: rgb(228, 6, 117); }
  100% { color: rgb(0, 194, 0); }
}

.backButton {
  /* position: absolute; */
  align-self: flex-start;
  margin-left: 0.5em;
  margin-top: 0.1em;
  transform: scale(1.4);
  /* animation: color_change 4s infinite; */
  color: rgb(0, 194, 0);
  transform: rotate(270deg) scale(1.4) scaleX(-1);
}

.prevArrow {
  /* border: 2px solid green; */
  position: absolute;
  left: 1em;
  top: 85vh;
  z-index: 1;
  transform: scale(2.2);
  color: rgb(0, 194, 0);
}

.nextArrow {
  /* border: 2px solid green; */
  position: absolute;
  right: 1em;
  top: 85vh;
  z-index: 1;
  transform: scale(2.2);
  color: rgb(0, 194, 0);
}

.projectCardContainer {
  /* border: 2px solid green; */
  width: 100%;
}

.projectImageContainer {
  /* position of Image in next.js is absolute */
  position: relative;
  margin: auto;
  /* border: 2px solid green; */
  border-radius: 10px;
  /* height: 15em; */
  width: 70%;
  margin-top: 1em;
}

.image {
  /* border: 2px solid rgb(219, 206, 19); */
  max-height: 15em;
  margin: auto;
  /* border: 2px solid green; */
  border-radius: 5px;
  padding: 2px;
  /* animation: color_change 4s infinite; */
}

/* .openImage {
  border: 1.5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 2px;
  font-size: 15px;
  animation: color_change 4s infinite;
} */

.expandIcon {
  transform: scale(1.2);
  margin-left: 10px;
}

.description {
  text-align: justify;
  width: 90%;
  margin: auto;
  margin-top: 1em;
}

.redirectNav {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.redirectNav a {
  display: flex;
  align-items: center;
}

.redirectNav a p {
  margin-right: 0.5em;
  /* color: rgb(0, 194, 0); */
}

@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.expanded {
  /* border: 2px solid green; */
  background-color: rgba(0, 0, 0, 0.89);
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: 1;
  animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.projectImageContainerExpanded {
  position: relative;
  margin: auto;
  /* border: 2px solid green; */
  height: 80vh;
  width: 90%;
  margin-top: 2em;
}

.closeIcon {
  display: block;
  margin-top: 1em;
  margin-left: 15px;
  transform: scale(3);
}
